body{
    margin:0px;
    height: 100%;
    }
    #header {
    
    background-color: black;
    height: 50px;
    color: white;
    font-size:25px;
    
     }
    
#wrap {
    
    margin-left:200px;
    margin-top:300px;
    
    
     }
#box1 {
    width:200px;
    float: left;
    height: 300px;
    background-color: rgb(143, 117, 117);
    margin-right: 20px;
    }
#box2{
    width: 200px;
    float: left;
    height: 300px;
    background-color: rgb(104, 104, 136);
    }
#clear {
    clear: both;
    }
#footer {
    width: 100%;
    background-color: black;
    height: 50px;
    margin-top:300px;
    color: white;
    font-size:25px;
    position: absolute;
    }